<!-- <app-search-bar fxLayoutAlign="center center"></app-search-bar> -->
<div>
  <!-- <img class="Apple-logo" src="assets/Apple.jpeg" alt="Apple Logo" /> -->
  <header class="header">
    <form action="#" class="search">
      <input type="text" class="search__input" placeholder="Search product" />
      <button class="search__button">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </header>
</div>

<mat-sidenav-container
  class="example-container"
  fxLayoutAlign="space-between start"
>
  <mat-sidenav mode="side" opened>
    <app-filter></app-filter>
  </mat-sidenav>
  <mat-sidenav-content fxFill>
    <mat-drawer-container class="example-container">
      <mat-drawer position="end" mode="side" opened>
        <app-cart></app-cart>
      </mat-drawer>

      <mat-drawer-content>
        <app-items-cards></app-items-cards>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>
