<!-- <app-search-bar fxLayoutAlign="center center"></app-search-bar> -->
<div>
  <!-- <img class="Apple-logo" src="assets/Apple.jpeg" alt="Apple Logo" /> -->
  <header class="header">
    <form action="#" class="search">
      <input type="text" class="search__input" placeholder="Search product" />
      <button class="search__button">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </header>
</div>

<mat-sidenav-container
  class="example-container"
  fxLayoutAlign="space-between start"
>
  <mat-sidenav mode="side" opened>
    <section class="example-section" [formGroup]="productsForm">
      <h3>Filters</h3>
      <h4>Price</h4>
      <p>
        <mat-checkbox formControlName="greaterThan500"> > 500$ </mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="lessThan500"> < 500$ </mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="greaterThan1000"> > 1000$ </mat-checkbox>
      </p>

      <h4>Rating</h4>
      <p>
        <mat-checkbox formControlName="oneStar">1</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="twoStars">2</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="threeStars">3</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="fourStars">4</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="fiveStars">5</mat-checkbox>
      </p>
    </section>
  </mat-sidenav>
  <mat-sidenav-content fxFill>
    <mat-drawer-container class="example-container">
      <mat-drawer position="end" mode="side" opened>
        <mat-card class="example-card">
          <mat-card-title>Your Cart</mat-card-title>

          <mat-card-content>
            <p class="product-list" *ngFor="let product of productList">
              {{ product.name }}
              <span style="margin: 30px">{{ product.price }}$</span>

              <button (click)="removeItem(product)" class="cancel-button">
                <mat-icon>cancel</mat-icon>
              </button>
            </p>
            <p *ngIf="productList">
              ________________________ <br />
              Total price: {{ cartItems.totalPrice }}$
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>Proceed to checkout</button>
          </mat-card-actions>
        </mat-card>
      </mat-drawer>
      <mat-drawer-content>
        <app-items-cards></app-items-cards>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>
