@import "src/styles.scss";

app-items-cards {
  margin: 100px;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 150px;
}

section {
  padding: 20px;
}

mat-drawer-container,
mat-drawer,
mat-drawer-content {
  height: 100%;

  // display: flex;
  // justify-content: end;
}

mat-drawer {
  width: 35%;
}

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  @media only screen and (max-width: 600px) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: rgb(218, 218, 218);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 30%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 40%;
      background-color: rgb(218, 218, 218);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: rgb(218, 218, 218);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

// .Apple-logo {
//   display: flex;
//   width: 70px;
//   align-self: 30px;
// }

.cancel-button {
  transform: scale(0.7);
}
